html,
body {
  margin: 0px;
  background-color: black;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
